// FUENTES
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;600;800&display=swap');

$fontKanit: 'Kanit', sans-serif;

// COLORES
$colorPrincipal: rgb(90, 236, 255);
$backgroundH2: rgba(90, 236, 255, 0.479);
$colorFuerte: rgb(20, 236, 255);
$colorSuper: rgb(0, 200, 255);